# Environment
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
migrations/__pycache__/

# Static / media
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
